nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/testing') Testing page!
        ul.nav.navbar-nav
            li.active
                a(href="/") Homepage
            li
                a(href="/users") Users